/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% auto;
  padding: 0% 2%;
}
.logo {
  margin: 0% auto;
}
.login {
  margin: 0% auto;
  padding: 2.5% 0 0 0;
  color: #000;
  font-size: 20px;
}
.header-name {
  background-color: #2db1a8;
  color: #fff;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 2% auto;
}
th,
td {
  text-align: left;
  padding: 16px;
  font-size: 18px;
}
td a {
  color: #000;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Countries Accordian Page Style */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html,
body {
  font-family: 'Lato', 'PT Sans', sans-serif;
  height: 100%;
  margin: 15px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1 {
  background-color: #2db1a8;
  /* @header-line */
  color: white;
  display: flex;
  justify-content: center;
}
/* Buttons */
.btn {
  width: 100%;
  border: 1px solid #2db1a8;
  background-color: #F6A44B;
  color: #fff;
  display: block;
  text-align: left;
  border-radius: 0%;
  margin-bottom: 3px;
}
.btn:hover {
  background-color: #D45E27;
}
.btn:after {
  font-size: 12px;
  font-weight: 700;
  color: #D45E27;
  float: right;
  margin-left: 5px;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
  background-color: lightgrey;
  color: black;
  text-align: left;
  margin-bottom: 5px;
}
.collapse.show li {
  display: flex;
  justify-content: left;
}
/* Community Info */
.block {
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #000;
  padding: 0;
  /* height: 250px; */
}
.block__content {
  border: 1px solid #ef6b2d;
  /* @btn-hover */
  padding: 1.5em;
  height: 100%;
}
.block li {
  color: #000;
}
