/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% auto;
  padding: 0% 2%;
}
@media (max-width: 500px) {
  .container {
    width: 80%;
    margin: 0% auto;
  }
}
.logo {
  margin: 0% auto;
}
.login {
  margin: 0% 0% 0 50%;
  padding: 2.5% 0% 0% 0%;
  color: #000;
  font-size: 20px;
}
@media (max-width: 1124px) {
  .login {
    margin: 1%;
  }
}
.login a {
  padding: 0% 4%;
}
.header-name {
  background-color: #2db1a8;
  color: #fff;
  margin-top: 1em;
  padding: 0.75em 0 0.75em 3em;
  display: flex;
  justify-content: left;
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 2% auto;
}
th,
td {
  text-align: left;
  padding: 16px;
  font-size: 18px;
}
td a {
  color: #000;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Countries Accordian Page Style */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html,
body {
  font-family: 'Lato', 'PT Sans', sans-serif;
  height: 100%;
  margin: 15px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h2 {
  color: #000;
}
/* Buttons */
.btn {
  width: 40%;
  min-height: 7%;
  border: 1px solid #2db1a8;
  background-color: #FF9700;
  color: #fff;
  display: block;
  text-align: left;
  border-radius: 0%;
  margin: 3px 30%;
  font-size: 2em;
  padding: 1% 25px;
}
.btn:hover {
  background-color: #FFC300;
}
.btn:after {
  font-size: 12px;
  font-weight: 700;
  color: #FFC300;
  float: right;
  margin-left: 5px;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
  background-color: #f2f2f2;
  color: black;
  text-align: left;
  margin-bottom: 5px;
}
.collapse.show li {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 1em;
  list-style-position: outside;
}
/*
#expand {
    width: 30%;
}
*/
/* Community Info */
.block {
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #000;
  padding: 0;
}
.block__content {
  border: 1px solid #FFC300;
  padding: 1.5em;
  height: 100%;
}
.block li {
  color: #000;
}
.block li:hover {
  color: #2db1a8;
  text-decoration: underline;
  list-style-position: outside;
}
/* SLIDER MAIN CONTAINER */
.child-Slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
/* SLIDER ITEMS */
.slider-item {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider-item.active {
  opacity: 1;
  visibility: visible;
}
/* ARROW CONTAINER, ARROWS */
.arrow-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
}
/* SLIDER ARROWS */
.arrow-container > div {
  width: 40px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow-container > div:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.arrow-container i {
  font-size: 23px;
  color: #2e2e2e;
}
.right-arrow {
  right: -40px;
}
.left-arrow {
  left: -40px;
}
.child-Slider:hover .arrow-container > div {
  opacity: 1;
  visibility: visible;
}
.child-Slider:hover .left-arrow {
  left: 0;
}
.child-Slider:hover .right-arrow {
  right: 0;
}
/* BULLETS */
.bullet-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 9;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.bullet-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
  margin: 0 3px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bullet-container > div i {
  font-size: 7px;
  color: grey;
}
.bullet-container > div.active {
  background-color: #fff;
  opacity: 1;
}
.bullet-container > div:hover {
  opacity: 0.7;
  background-color: #fff;
}
/* HIDDEN ELEMENTS */
.fg-hidden {
  opacity: 0;
  visibility: hidden;
}
/* ANIMATION EFFECTS */
/* scale effet */
.child-Slider.scale .slider-item {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.child-Slider.scale .slider-item.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* slide effect slide horizontal */
.child-Slider.slide-horizontal .slider-item {
  left: -160px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.child-Slider.slide-horizontal .slider-item.active {
  left: 0;
}
/* slide effect vertical */
.child-Slider.slide-vertical .slider-item {
  top: -160px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.child-Slider.slide-vertical .slider-item.active {
  top: 0;
}
/* slide effect slide top */
.child-Slider.slide-top .slider-item {
  top: -160px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.child-Slider.slide-top .slider-item.active {
  top: 0;
}
/* slide effect left */
.child-Slider.slide .slider-item {
  left: -160px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.child-Slider.slide .slider-item.active {
  left: 0;
}
/* SLIDER LOADING ANIMATION */
.sk-folding-cube {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 45%;
  -webkit-transform: rotateZ(45deg) translate(50%, 50%);
  transform: rotateZ(45deg) translate(50%, 50%);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}
.sk-folding-cube.active {
  opacity: 1;
  visibility: visible;
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* Marketing Page Nav Bar */
.mkt-body {
  margin: 10px;
  padding: 0;
  font-size: 15px;
}
nav {
  background-color: #fff;
  margin: 0;
  padding-top: 1%;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: flex;
  list-style-type: none;
  width: 90%;
}
nav ul li a {
  color: #FE7006;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25em;
  padding: 1em;
  text-decoration: none;
  font-size: 1.6em;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a.logo {
  background-color: transparent;
  width: 100%;
}
/* App Highlights style */
.features {
  background: #EEF6F7;
}
.features p {
  color: #fff;
  padding: 0 2em 1em;
  line-height: 1.5;
  font-size: 2.2em;
}
.features .features-intro {
  background-color: #2db1a8;
  color: #fff;
  padding: 5%;
  display: flex;
  justify-content: left;
  font-weight: 500;
}
.features .cards {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}
.features .cards .card {
  background: transparent;
  height: 300px;
  width: 300px;
  max-width: 500px;
  perspective: 1000px;
}
.features .cards .card:not(:last-child) {
  margin-right: 4%;
}
.features .cards .card:hover .card-inner {
  transform: rotateY(180deg);
}
.features .cards .card .card-inner {
  background: #FE7006;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /*box-shadow: 0 5px 5px white;*/
  border-radius: 100%;
}
.features .cards .card .card-inner .card-front,
.features .cards .card .card-inner .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.features .cards .card .card-inner .card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  z-index: 2;
}
.features .cards .card .card-inner .card-front .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.features .cards .card .card-inner .card-front .fas {
  color: #fff;
  font-size: 12rem;
}
.features .cards .card .card-inner .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(180deg);
  z-index: 1;
}
.features .cards .card .card-inner .card-back .card-text {
  padding: 2rem;
  font-size: 1.6em;
}
/* CTA Link */
.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2db1a8;
  text-decoration: none;
  font-size: 6em;
  font-weight: 700;
  padding: 5%;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-weight: 600;
  margin-top: 2.5em;
}
.teammates {
  display: inline-block;
  width: 400px;
  margin: 0 10px 40px;
  box-shadow: 0 4px 7px #ACA59F;
  vertical-align: top;
}
@media (max-width: 500px) {
  .teammates {
    width: 50%;
  }
}
.team {
  margin: 0 auto;
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
}
.team-card h3 {
  display: flex;
  justify-content: center;
  padding: 6px 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: #FE7006;
}
.headshot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.bio {
  font-size: 16px;
  font-weight: 500;
}
.bio p {
  margin: 16px;
  text-indent: 25px;
  line-height: 1.25;
}
.contact {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 42px;
}
.contact a:active,
.contact a:visited {
  color: #2db1a8;
}
.contact a:hover {
  color: #FE7006;
}
