.container {
  //header bar
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% auto;
  padding: 0% 2%;

  @media @phone {
    width: 100%;
    margin: 0% auto;
  }

  @media @tablet {
    width: 100%;
  }
}

.logo {
  margin: 0% auto;
  width: 100%;
}

.login {
  margin: 0% 0% 0 50%;
  padding: 2.50% 0% 0% 0%;
  color: @font-color;
  font-size: 20px;

  @media @small-pc-monitor {
    margin: 1%;
  }
}

.login a {
  padding: 0% 4%;

}

.header-name {
  background-color: @header-line;
  color: @primary-color;
  margin-top: 1em;
  padding: 0.75em 0 0.75em 3em;
  display: flex;
  justify-content: left;
  font-weight: 700;

  @media @phone {
    font-size: 16px;
    font-weight: bolder;
  }

  @media @tablet {
    width: 100%;
    font-size: 36px;
  }
}


 .links{
  margin: 0% auto;

  @media @tablet {
    display: grid;
  }
}


