.teammates {
    display: inline-block;
    width: 400px;
    margin: 0 10px 40px;
    box-shadow: 0 4px 7px @bio-shadow;
    vertical-align: top;

    @media @tablet {
        width: 100%;
        margin-top: 15px; 
    }
  }

.headshot {
    width: 400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media @phone {
        width: 100%;
        height: 200px;
    }

    @media @tablet {
        width: 100%;
        height: 600px;
    }
  }

.team {
    margin: 0 auto;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    @media @tablet {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

.team-card h3 {
    display: flex;
    justify-content: center;
    padding: 6px 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: @primary-color;
    background: @app-features;

    @media @phone {
        padding: 0;
    }

    @media @tablet {
        width: 100%;
        font-size: 4em;
        padding: 8px 10px;
        font-weight: 500;
    }
}

.bio {
    font-size: 16px;
    font-weight: 500;

    @media @tablet {
        width: 100%;
    }
}

.bio p {
    margin: 16px;
    text-indent: 25px;
    line-height: 1.25;

    @media @tablet {
        font-size: 2em;
        margin-left: 1em;
    }
  }

.contact {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 42px;

    @media @tablet {
        width: 100%;
        font-size: 4.4em;
    }
}

.contact a:active, .contact a:visited {
    color: @header-line;
}

.contact a:hover {
    color: @app-features;
}