// Colors
@primary-color: #fff;
@font-color: #000;
@btn-one: #F6A44B;
@btn-two: #2db1a8;
@btn-hover: #D45E27;
@header-line: #2db1a8;
@fog: #f2f2f2

// Font
@font-headers: lato, sans-serif;

// Media query
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";