// Colors
@child-nutrition-color-primary: #fff;
@child-nutrition-font-color: #000;
@child-nutrition-btn-one: #F6A44B;
@child-nutrition-btn-two: #2db1a8;
@child-nutrition-btn-hover: #D45E27;
@child-nutrition-header-line: #2db1a8;

// Font
@child-nutrition-h2-font: lato, sans-serif;

// Media query
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";