/* Font Families 

font-family: 'PT Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/


/* Amber's testing css page */

/* Countries Accordian Page Style */

@import url("https://fonts.googleapis.com/css?family=Lato|PT+Sans");

html,body {
  font-family: 'Lato','PT Sans', sans-serif; 
  height: 100%;
  margin: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}


h1 {
  background-color: #2db1a8; /* @header-line */
  color: white;
  display: flex;
  justify-content: center;
}
/* Buttons */
.btn {
  width: 100%;
  border: 1px solid #2db1a8;
  background-color: #faa422; /* @btn-one */
  color: #fff;
  display: block;
  text-align: left;
  border-radius: 0%;
  margin-bottom: 3px;
}

.btn:hover {
  background-color: #ef6b2d; /* @btn-hover */
}

.btn:after {
  font-size: 12px;
  font-weight: 700;
  color: #ef6b2d; /* @btn-hover */
  float: right;
  margin-left: 5px;
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
    background-color: lightgrey;
    color: black;
    text-align: left;
  }
  
  &.show li {
    display: flex;
    justify-content: left;
  }
}

/* Community Info */
.block {
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #000;
  padding: 0;
  // height: 250px;
  
  &__content {
    border: 1px solid #ef6b2d; /* @btn-hover */
    padding: 1.5em;
    height: 100%;
  }
  
  li {
    color: #000;
  }
}